<% title "About" %>

<p>
	Welcome to the about page. There isn't anything here to see, but heres a good image.
	<br /><br />
	
	<!-- This code loads the image, and makes it a link to the home page -->
	<%= link_to image_tag("aboutimage.jpg"), root_path %>

	<br /><br />
	Just so you know, this is served from the <code>public/images</code> folder.<br />
	Please see the source code to see how to load an image.
</p>